@model Property

<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="PropertyId"/>

    <div class="mb-3">
        <h1>Property Details Below:</h1>
    </div>
    <hr />
    <div class="mb-3">
        <label>Property Name:</label>
        <strong asp-for="PropertyName">@Model.PropertyName</strong>
    </div>

    <div class="mb-3">
        <label>Property Address:</label>
        <strong asp-for="PropertyAddress">@Model.PropertyAddress</strong>
    </div>

    <div class="mb-3">
        <label>Property Bedrooms:</label>
        <strong asp-for="PropertyBedrooms">@Model.PropertyBedrooms</strong>
    </div>

    <div class="mb-3">
        <label>Property Bathrooms: </label>
        <strong asp-for="PropertyBathrooms">@Model.PropertyBathrooms</strong>
    </div>

    <div class="mb-3">
        <label>Property Pets</label>
        <strong asp-for="PropertyPets"> @Model.PropertyPets</strong>
    </div>

    <div class="mb-3">
        <label>Property Garages:</label>
        <strong asp-for="PropertyGarages"> @Model.PropertyGarages</strong>
    </div>

    <div class="mb-3">
        <strong>Property Description:</strong>
        <p asp-for="ExtendedDescription" class="form-label"> @Model.ExtendedDescription</p>
    </div>

    <div class="mb-3">
        <label>Property Price: </label>
        <strong asp-for="Price">$@Model.Price</strong>
    </div>

    <div class="mb-3">
        <label>Property Type: </label>
        <strong asp-for="PropertyType">@Model.PropertyType</strong>
    </div>

    <div class="mb-3">
        <label>Property Nearby School:</label>
        <strong asp-for="NearbySchools"> @Model.NearbySchools</strong>
    </div>

    <div class="mb-3">
        <label>Property Nearby Shops:</label>
        <strong asp-for="NearbyShops"> @Model.NearbyShops</strong>
    </div>

    <div class="mb-3">
        <label>Property Is Available for Viewing:</label>
        <strong asp-for="IsAvailable"> @(Model.IsAvailable ? "Yes" : "No")</strong>
    </div>
    <input type="submit" value="Delete" class="btn btn-danger" />
    <a asp-action="Index" class="btn btn-outline-secondary">Cancel</a>

</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}