@model IEnumerable<Viewing>

<div class="card shadow border-2 mt-4 mb-4">
    <div class="card-header bg-secondary py-4">
        <div class="row">
            <div class="col text-center">
                <h2 class="py-2">Admin Viewing Dashboard</h2>
            </div>
        </div>
    </div>
</div>

<p>
    <a asp-action="Create" class="btn btn-sm btn-outline-primary"><i class="bi bi-plus-square-fill"></i> Add a Viewing</a>
</p>

@if (!Model.Any())
{
    <div class="alert alert-info">
        No Viewings booked. Please consider adding atleast 1.
    </div>
}
else
{
    @foreach (var property in Model)
    {
        <div class="list-group mb-4 shadow">
            <div class="list-group-item">
                <label>Property Booked:</label>
                <strong>@property.Properties?.PropertyName, </strong>
                <strong>@property.Properties?.PropertyAddress</strong>
            </div>

            <div class="list-group-item">
                <label>User who booked the viewing:</label>
                <strong>@property.Users?.First_Name</strong>
                <strong>@property.Users?.Last_Name</strong>
            </div>

            <div class="list-group-item">
                <label>Time/Date of Viewing:</label>
                <strong>@property.Viewing_TimeDate</strong>
            </div>

            <div class="list-group-item">
                <a asp-action="Edit" asp-route-id="@property.Viewing_ID" class="btn btn-sm btn-primary"> <i class="bi bi-pen"></i> Edit</a>
                <a asp-action="Details" asp-route-id="@property.Viewing_ID" class="btn btn-sm btn-dark"> <i class="bi bi-card-list"></i> Details</a>
                <a asp-action="Delete" asp-route-id="@property.Viewing_ID" class="btn btn-sm btn-danger"><i class="bi bi-trash"></i> Delete</a>
            </div>
        </div>

    }
}



